@import url("https://fonts.googleapis.com/css2?family=Coda:wght@400;800&display=swap");

$primary-color: #011437;
$secondary-color: #ffc20a;
$tertiary-color: #f4f5f7;
$quaternary-color: #b73d3d;
$grey-color: #69727d;
$font-family: "Coda", sans-serif;