.form-container ul li {
  display: flex;
  flex-direction: column;
  padding: 15px 0;
  max-width: 550px;


  li {
    list-style-type: none;
  }

  label {
    margin: 10px 0px;
    font-size: 16px;
  }

  input,
  select,
  textarea {
    padding: 16px;
    font-size: 16px;
    //TODO: Replace for variable.
    border: 1px solid gainsboro;
  }
  .input-set {
    display: flex;
    gap: 20px;
    justify-content: space-between;
    align-items: center;
    .input-container {
      flex: 1;
      display: flex;
      flex-direction: column;
      input {
        width: 100%;
      }
      label {
        font-size: 14px;
        //TODO: Replace for variable.
        color: rgb(148, 148, 148);
        margin: 5px 0px;
      }
    }
  }
  .required-label::after {
    content: "*";
    color: crimson;
    font-size: 16px;
    margin-left: 1px;
  }
  .submit-btn {
    margin: 20px 0;
  }
}
.custom-select {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  background-image: url('../../assets/arrow-down.svg');
  background-repeat: no-repeat;
  background-position: right 20px center;
  background-size: 16px;
}